* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    margin: 0;
}

h1 {
    margin: 1em auto;
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

.principal{
    max-width: min(100%, 10rem);
    margin: 0 auto;
}

.tarjetas{
    background-color: hsl(285, 3%, 73%);
    padding: 10px;
    margin: 20px;
    width: 20%;
    border-radius: 7px;
}

p {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

img{
    width: 100%;;
}
